/* ! Decendent selector */
/* Selecting all the article which are decendent 
of the section and applying yellow bg color */

/* section article{
    background-color: yellow;
} */
/* selecting all the article which are decendent of the div and applying green  bg color */
/* div article{
    background-color: green;
} */

/* !child selector (>) */

ul>li{
    background-color: darkmagenta;
}