*{
    background-color: blanchedalmond;
}

div>h1{
    background-color: rgb(185, 185, 216);
    border: 2px solid black;
    text-align: center;
}

.s1{
    border: 2px solid black;
}

.s1 > input, 
.s1 > select, 
.s1 > fieldset {
    background-color: rgba(194, 255, 73, 0.655);
}

#age > input {
    background-color: rgb(250, 250, 119);
}

#address{
    border-radius: 10px;
